<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/scripts_index.js"></script>
    <link rel="stylesheet" href="/static/css/styleIndex.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  </head>
  <body>
    <div class="login-form">
      <form>
        <h1>login</h1>
        <input type="email" placeholder="Email" class="txtb" id="email" required>
        <input type="password" placeholder="Password" class="txtb" id="password" required>
        <input type="button" value="Login" class="login-btn" id="btn">
      </form>
    </div>
  </body>
</html>
